body {
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    flex-direction: column;
    font-family: fixedsys;
}

ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
    font-size:1.5rem;
}

li {
    display: inline;
    margin-right: 0.5rem;
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

li:hover {
    background-color: #18af06;
    cursor:pointer;
}


.red {
    color:#b40b15;
}

header, footer {
    background-color: #b9aea4;
}

.main {
    background-color: #0f00a3;
    flex:1;
	color: #ffffff;
	font-size: 1.5rem;
}

.fas {
    margin-left:1.5rem;
    color:#b40b15;
}

.footer li {
    margin: 0;
    padding-left: 0.5rem;
}

[contenteditable] {
  outline: 0px solid transparent;
}

/*drowpdown*/

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-container{
    display: none;
    position: absolute;
    background-color: #b9aea4;
    z-index: 1;
    width:17rem;
    height:25rem;
    box-shadow: 20px 20px;  
  }

  .dropdown-container-inner {
      margin: 0.5rem 1rem;
      border: 1px solid black;
  }

  .dropdown-content-top {
    border: 1px solid black;
  }

  .dropdown-content-middle {
    border: 1px solid black;
  }

  .dropdown-content-quit {
    border: 1px solid black;
    display:flex;
    justify-content: space-between;
  }

  .dropdown-container a {
    color: black;
    padding: 0.5rem 0.6rem;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-container {
      display:block;
  }
  
  .move-right {
      display:flex;
      justify-content: space-between;
  }

  a:hover {
    background-color: #18af06;
    cursor:pointer;
 }

 