body {
    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    flex-direction: column;
    font-family: fixedsys;
}

ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
    font-size:1.5rem;
}

li {
    display: inline;
    margin-right: 0.5rem;
	padding: 0;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

li:hover {
    background-color: #18af06;
    cursor:pointer;
}

.red {
    color:#b40b15;
}

header, footer {
    background-color: #b9aea4;
}

.main {
    background-color: #0f00a3;
    flex:1;
	color: #ffffff;
	font-size: 1.5rem;
}

.fas {
    margin-left:1.5rem;
    color:#b40b15;
}

.footer li {
    margin: 0;
    padding-left: 0.5rem;
}

[contenteditable] {
  outline: 0px solid transparent;
}